body {
    background-color: papayawhip;
    color: saddlebrown;
}

td{
    color: saddlebrown;
}

th{
    color: saddlebrown;
}

#kep{
    width: 200;
    height: 50;
    border: 1;
}

div{
    text-align: center;
}

#jobbra{
    text-align: left;
    float: right;
    height: auto;
    width: 450px;
    height: 900px;
}

#balra{
    text-align: left;
    float: left;
    height: auto;
    width: 500px;
    height: 900px;
}